# Segmenting and Clustering Neighborhoods in Toronto

### Import important libraries

In [13]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Scrape the List of postal codes of Canada

In [14]:

List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [15]:
soup = BeautifulSoup(source, 'xml')

In [16]:
table=soup.find('table')

In [17]:
#dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [18]:
# Search all the postcode, borough, neighborhood 
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [19]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

## Data Cleaning

Remove rows where Borough is 'Not assigned'

In [21]:
df=df[df['Borough']!='Not assigned']

In [23]:

df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Use the .shape method to print the number of rows of your dataframe

In [32]:
print("Shape: ", df.shape)

Shape:  (103, 3)

 # Question 2

## Create dataframe with longitude and latitude values

In [36]:
# using a csv file that has the geographical coordinates
!wget -q -O 'Toronto_location.csv'  http://cocl.us/Geospatial_data
df_loc = pd.read_csv('Toronto_location.csv')
df_loc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [37]:
df_loc.columns = ['Postalcode','Latitude','Longitude']
df_loc.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [ ]:
df_toronto = pd.merge(df_new, df_loc, on = 'Postalcode')
df_toronto.head()

| |Postalcode|	Borough        | Neighbourhood	                   |Latitude   |Longitude   |
--|----------|-----------------|-----------------------------------|-----------|------------|
|0| M3A      | North York      | Parkwoods	                       | 43.753259 | -79.329656 |
|1|	M4A	     | North York	   | Victoria Village              	   | 43.725882 | -79.315572 |
|2|	M5A      | Downtown Toronto| Harbourfront                      | 43.654260 | -79.360636 |
|3|	M6A    	 | North York      | Lawrence Heights,Lawrence Manor   | 43.718518 | -79.464763 |
|4|	M7A	     | Queen's Park	   | Queen's Park	                   | 43.662301 | -79.389494 |